<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form>
        <div class="row">
            <div class="col-lg-6 mb-2">
                <input type="text" placeholder="Enter Your FisrtName"
                    class="form-control">
            </div>
            <div class="col-lg-6 mb-2">
                <input type="text" placeholder="Enter Your LastName"
                    class="form-control">
            </div>
            <div class="col-lg-12 mb-2">
                <input type="email" placeholder="Enter Your Email Address"
                    class="form-control">
            </div>
            <div class="col-lg-12 mb-2">
                <input type="number" placeholder="Enter Your Mobile"
                    class="form-control">
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>