<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        cupiditate porro expedita magni fugit eius, tempora error, esse id
        laudantium excepturi pariatur qui temporibus quia eveniet, odit iusto
        quis illo.

        <br/>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ut
            fugit amet illum, dicta repudiandae explicabo optio quo, error
            dolorem nulla. Pariatur consequuntur, consectetur odio fugit
            voluptatem natus atque corporis?
            <br/>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                incidunt dolores tempora nemo dolorem error quidem sequi,
                laudantium sit dignissimos consequuntur eum aspernatur
                voluptatibus quibusdam labore sint sunt vitae quas?
            </p>
        </div>